@import '/src/styles/Variables.module.scss';

.previewImage {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  padding: 10px;

  width: 100%;
  background-color: var(--white);

  &_img {
    object-fit: contain;
  }
}
