@import '/src/styles/Variables.module.scss';

.navigation {
  display: flex;
  align-items: center;
  justify-content: center;

  margin-right: 24px;
}

.navigationList {
  display: flex;
  align-items: center;
  justify-content: center;

  column-gap: 16px;

  &_link {
    font-weight: 500;
    font-size: 14px;

    color: var(--charcoal);
  }

  &_button {
    display: flex;
    align-items: center;

    padding: 5px;

    border-style: none;
    background-color: transparent;
  }
}

@media screen and (max-width: 1024px) {
  .navigationList_item:nth-child(-n + 3) {
    display: none;
  }
}
@media screen and (max-width: 780px) {
  .navigationList_item:nth-child(-n + 7) {
    display: none;
  }
}
@media screen and (max-width: 530px) {
  .navigation {
    display: none;
  }
}
