:root {
  --cloudy-white: #c1ccd6;
  --light-gray: #9fb1bd;
  --charcoal: #1c2b36;
  --light-blue: #186ade;
  --translucent-blue: #6583ee33;
  --dark: #090f14;
  --dull-blue: #3e5463;
  --white: #ffffff;
}
