@import '/src/styles/Variables.module.scss';

.formatsToConvert {
  &_label {
    display: flex;
    align-items: center;
    column-gap: 8px;
  }

  &_button {
    // TODO --> кастомная стилизация для radio button
  }

  &_text {
    font-weight: 500;
    font-size: 14px;

    color: var(--charcoal);
  }
}
