@import '/src/styles/Variables.module.scss';

.listImages {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  padding: 5px;

  overflow-y: auto;

  width: 100%;
  height: 100%;

  background-color: var(--white);
}
